<h2 style="text-align: center; text-decoration: underline;"> Jobs</h3>
<%= link_to "1. Software", resumes_path, method: :post, class: "
	nav-link", style: "text-decoration: underline;" %>
<%= link_to "3. Web Developer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "4. Data Scientist", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "5. Network Administrator", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "6. Systems Analyst", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "7. Database Administrator", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "8. DevOps Engineer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "9. Security Analyst", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "10. UI/UX Designer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "11. Mobile App Developer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "12. Frontend Developer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "13. Backend Developer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "14. Cloud Architect", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
<%= link_to "15. Full Stack Developer", resumes_path, method: :post, class: "nav-link", style: "text-decoration: underline;" %>
